installconfig.txt
yamlpath.conf
*~
.*
*.orig
installconfig*
__pycache__
/models/stick_insect/blender/stick_insect.blend
/models/stick_insect/drock/bagel.yml
/models/stick_insect/drock/layout.yml
/models/stick_insect/drock/stick_insect_software.yml
/models/stick_insect/drock_simulation_demo.smurfs
/models/stick_insect/mars_config/BagelGraphMARS.yml
/models/stick_insect/mars_config/bagel_control/leg_control.yml
/models/stick_insect/mars_config/bagel_control/main_control.yml
/models/stick_insect/mars_config/bagel_control/main_control2.yml
/models/stick_insect/mars_config/bagel_control/start_parameters.yml
/models/stick_insect/mars_config/bagel_gui/config.yml
/models/stick_insect/mars_config/bagel_gui/configWindows.yml
/models/stick_insect/mars_config/bagel_gui/libs.txt
/models/stick_insect/mars_config/bagel_gui/node_config.yml
/models/stick_insect/mars_config/bagel_gui/node_config/merge.yml
/models/stick_insect/mars_config/bagel_gui/node_config/node_config.yml
/models/stick_insect/mars_config/bagel_gui/node_config/port1x1.yml
/models/stick_insect/mars_config/bagel_gui/node_config/port2x1.yml
/models/stick_insect/mars_config/bagel_gui/node_config/port3x1.yml
/models/stick_insect/mars_config/core_libs.txt
/models/stick_insect/mars_config/mars_Simulator.yaml
/models/stick_insect/mars_config/ndlcom_mars_config.yml
/models/stick_insect/mars_config/other_libs.txt
/models/stick_insect/mars_config/rockInterface.yml
/models/stick_insect/meshes/obj/foot.obj
/models/stick_insect/meshes/obj/head.obj
/models/stick_insect/meshes/obj/hip.obj
/models/stick_insect/meshes/obj/lower_leg.obj
/models/stick_insect/meshes/obj/neck.obj
/models/stick_insect/meshes/obj/torso.obj
/models/stick_insect/meshes/obj/upper_leg.obj
/models/stick_insect/meshes/obj/velodyne.obj
/models/stick_insect/smurf/stick_insect.smurf
/models/stick_insect/smurf/stick_insect_chains.yml
/models/stick_insect/smurf/stick_insect_collision.yml
/models/stick_insect/smurf/stick_insect_hardware.yml
/models/stick_insect/smurf/stick_insect_materials.yml
/models/stick_insect/smurf/stick_insect_motors.yml
/models/stick_insect/smurf/stick_insect_poses.yml
/models/stick_insect/smurf/stick_insect_sensors.yml
/models/stick_insect/stick_insect.smurfs
/models/stick_insect/urdf/stick_insect.urdf
